/* General Styles */

html {
    font-size: 16px;
  }

* {
  font-family: 'Orelega One', sans-serif;
  font-weight: 200;
}

body {

         font-size: 1em;
         text-align: left;
         color: #2e2e1f;
  }

  ul,
  ol {
    list-style-type: none;
  }

  a {
    color: #C0C0C0;
    text-decoration: none;
  }

  h3,
  h4 {
    margin: 20px 0;
    font-size: 1.5em;
    font-weight: 500;
  }

  /* -------------------- Base Header - Footer Styles -------------------- */

header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background-color: #63abbb;
  color: #0f0e0e;

}

header {
  padding: 15px 0;
  height: 200px;
  margin: 0;
}

header .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding: 3rem;
  min-height: 2rem;
}


header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  width: 75%;
  font-weight: 700;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  width: 100%;

}

header nav ul li {
  font-size: 2em;
  padding: .5rem;
}

footer {
  flex-direction: column;
}

footer p {
  margin: 0;
  font-size: 1.5em;
}


.c-title {
  margin:auto;
  text-align: center;
  padding: 2rem 0;
} 

footer  {
  margin: auto;
}

footer .social-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer .social-icons p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

footer .copyright {
  margin: 20px 0;
}


/* Statement Area */

.statement-area {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

/* .main-image {
  width:100px;
  height: 100px;
  background: no-repeat;
} */

/* About */

.about {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  background-color:#708090;
}
.about .about-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.about p {
  width: 63%;
  margin-bottom: 2rem;
  font-size: 1.75em;

}

/* Projects */

.project-title {
  margin: auto; 
  display: flex;
  justify-content: center; 
}

.project-title {
  padding-top: 2rem;
}

.projects-group p{
  display: flex;
  justify-content: center;
}
.projects-group {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.picture {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  background-size: contain; 
  padding-bottom: 1rem;
  margin: auto;
}

.project-unit {
  display: flex;
  flex-direction: column;
  text-align: center;
}